body {
    background-color: rgb(184, 184, 184);
    color: rgb(24, 24, 24);
  }
  
  .dark-mode {
    background-color: black;
    color: rgb(184, 184, 184);
  }
  .app-search{
    align-content: center;
    padding-top: 5%;
    padding-left: 30%;
  }
  .app-search .searchFeld{
font-size: xx-large; 
  }
  .app-search .options{
    font-size: xx-large;
  }
  .app-search .search-element{
    font-size: xx-large;
  }
  .app-search h1{
    padding-left: 15%;
  }
  .app-search img{
    padding-left: 5%;
    background-color: inherit;
  }